body {
 background: #b3d6e1ff;
}
.content-section {
  background: #cbd5db;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.show {
  opacity: 1;
}
.hide {
  opacity: .2;
}
table {
    table-layout: fixed;
    width: 100%;
}
td {
    word-wrap: break-word;
}
